name: Test for actions runner baseed on python 2.7

on: push

jobs:
  build:
    name: My build
    runs-on: [self-hosted, linux]
    steps:
    - name: checkout
      uses: actions/checkout@master
    - name: Test with pytest
      run: |
        py.test
    - name: build
      env:
        MY_VAR: Hi, My name is YHT
        REGIP:  "192.168.10.92:5000"
        PN: monagent 
      run: |
        echo $MY_VAR  $REGIP/$PN
        cd $PN
        version=`date +%Y%m%d-%H%M%S`
        docker build --no-cache -t $REGIP/$PN:v$version -f ./dockerfile.alpine.python .    
        docker tag  $REGIP/$PN:v$version   $REGIP/$PN
        docker push $REGIP/$PN:v$version 
        docker push $REGIP/$PN
        #sh ./docker-run.sh
        kubectl set image deployment/$PN $PN=$REGIP/$PN:v$version -n default
      shell: bash
    - name: failed
      if: failure()
      run: |
        python sendmesstowx.py "build failed: https://github.com/Thomas-YangHT/monagent/new/master?filename=.github%2Fworkflows%2Fpythonapp.yml&workflow_template=pythonapp"
    - name: successed
      if: success()
      run: |
        python sendmesstowx.py "build successed"

